.h100 {
    height: 100vh;
}
.flex {
    display: flex;
}
.j-c-c {
    justify-content: center;
}
.j-c-s-b {
    justify-content: flex-end;
}
.a-i-c {
    align-items: flex-end;
}   
.a-i-s-b {
    align-items: space-between;
}   

.query-wrap {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dialog-wrap {
    overflow: auto;
    flex-direction: column;
}

h1 {
    color: #8E44AD;
}

.input {
    width: 95%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #bee5eb;
    margin: auto;
}

.wrap {
    flex-direction: column;
    background: #ECF0F1;
}

.message {
    display: flex; 
    width: calc(100%-10px);
}
.message-right {
    margin-right: 5px;
    justify-content: flex-end;
}
.message-left {
    margin-left: 5px;
    justify-content: flex-start;
}
.text-message {
    margin-bottom: 5px;
    width: 80%;
    padding: 5px;
    font-size: 14px;
}